-- =============================================
-- 1. KHỞI TẠO DATABASE
-- =============================================
USE master;
GO
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'QLNHASACH')
    DROP DATABASE QLNHASACH;
GO
CREATE DATABASE QLNHASACH;
GO
USE QLNHASACH;
GO

-- =============================================
-- 2. TẠO CÁC BẢNG (TABLES)
-- =============================================

-- 2.1. Bảng DANH MỤC/THỂ LOẠI
CREATE TABLE THELOAI (
    MaTL INT PRIMARY KEY IDENTITY(1,1),
    TenTL NVARCHAR(50) NOT NULL UNIQUE
);
GO

-- 2.2. Bảng TÁC GIẢ
CREATE TABLE TACGIA (
    MaTG INT PRIMARY KEY IDENTITY(1,1),
    TenTG NVARCHAR(100) NOT NULL,
    QueQuan NVARCHAR(100)
);
GO

-- 2.3. Bảng NHÀ XUẤT BẢN
CREATE TABLE NXB (
    MaNXB INT PRIMARY KEY IDENTITY(1,1),
    TenNXB NVARCHAR(100) NOT NULL UNIQUE,
    DiaChi NVARCHAR(255),
    SDT NVARCHAR(15)
);
GO

-- 2.4. Bảng SÁCH
CREATE TABLE SACH (
    MaSach INT PRIMARY KEY IDENTITY(1,1),
    TenSach NVARCHAR(200) NOT NULL,
    MaTL INT,
    MaTG INT,
    MaNXB INT,
    NamXB INT,
    SoLuongTon INT DEFAULT 0 CHECK (SoLuongTon >= 0),
    GiaNhap DECIMAL(18,0) DEFAULT 0 CHECK (GiaNhap >= 0), -- Giá vốn
    GiaBan DECIMAL(18,0) DEFAULT 0 CHECK (GiaBan >= 0),   -- Giá bán ra
    MoTa NVARCHAR(500),
    AnhBia NVARCHAR(255),-- Thêm cột ảnh bìa để dùng cho Giỏ hàng
    CONSTRAINT FK_SACH_TL FOREIGN KEY (MaTL) REFERENCES THELOAI(MaTL),
    CONSTRAINT FK_SACH_TG FOREIGN KEY (MaTG) REFERENCES TACGIA(MaTG),
    CONSTRAINT FK_SACH_NXB FOREIGN KEY (MaNXB) REFERENCES NXB(MaNXB)
);
GO

-- 2.5. Bảng KHÁCH HÀNG
CREATE TABLE KHACHHANG (
    MaKH INT PRIMARY KEY IDENTITY(1,1),
    HoTen NVARCHAR(100) NOT NULL,
    SDT NVARCHAR(15) UNIQUE,
    DiaChi NVARCHAR(255),
    Email NVARCHAR(100),
    DiemTichLuy INT DEFAULT 0
);
GO

-- 2.6. Bảng NHÂN VIÊN
CREATE TABLE NHANVIEN (
    MaNV INT PRIMARY KEY IDENTITY(1,1),
    HoTen NVARCHAR(100) NOT NULL,
    NgaySinh DATE,
    SDT NVARCHAR(15),
    ChucVu NVARCHAR(50), 
    MatKhau NVARCHAR(50) 
);
GO

-- 2.7. Bảng PHIẾU NHẬP
CREATE TABLE PHIEUNHAP (
    MaPN INT PRIMARY KEY IDENTITY(1,1),
    MaNXB INT, 
    MaNV INT,  
    NgayNhap DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,0) DEFAULT 0,
    TrangThai NVARCHAR(50) DEFAULT N'Hoàn thành',
    CONSTRAINT FK_PN_NXB FOREIGN KEY (MaNXB) REFERENCES NXB(MaNXB),
    CONSTRAINT FK_PN_NV FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV)
);
GO

-- 2.8. Bảng CHI TIẾT PHIẾU NHẬP
CREATE TABLE CHITIETPHIEUNHAP (
    MaPN INT,
    MaSach INT,
    SoLuong INT CHECK (SoLuong > 0),
    DonGiaNhap DECIMAL(18,0) CHECK (DonGiaNhap >= 0), 
    ThanhTien AS (SoLuong * DonGiaNhap), 
    PRIMARY KEY (MaPN, MaSach),
    CONSTRAINT FK_CTPN_PN FOREIGN KEY (MaPN) REFERENCES PHIEUNHAP(MaPN),
    CONSTRAINT FK_CTPN_SACH FOREIGN KEY (MaSach) REFERENCES SACH(MaSach)
);
GO

-- 2.9. Bảng HÓA ĐƠN (Dùng cho bán tại quầy)
CREATE TABLE HOADON (
    MaHD INT PRIMARY KEY IDENTITY(1,1),
    MaKH INT, 
    MaNV INT, 
    NgayLap DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,0) DEFAULT 0,
    TrangThai NVARCHAR(50) DEFAULT N'Đã thanh toán',
    CONSTRAINT FK_HD_KH FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH),
    CONSTRAINT FK_HD_NV FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV)
);
GO

-- 2.10. Bảng CHI TIẾT HÓA ĐƠN
CREATE TABLE CHITIETHOADON (
    MaHD INT,
    MaSach INT,
    SoLuong INT CHECK (SoLuong > 0),
    DonGiaBan DECIMAL(18,0), 
    ThanhTien AS (SoLuong * DonGiaBan),
    PRIMARY KEY (MaHD, MaSach),
    CONSTRAINT FK_CTHD_HD FOREIGN KEY (MaHD) REFERENCES HOADON(MaHD),
    CONSTRAINT FK_CTHD_SACH FOREIGN KEY (MaSach) REFERENCES SACH(MaSach)
);
GO

-- 2.11. Bảng ĐƠN ĐẶT HÀNG (Dùng cho bán Online/Giỏ hàng)
CREATE TABLE DONDATHANG (
    MaDonHang INT IDENTITY(1,1) PRIMARY KEY,
    DaThanhToan BIT DEFAULT 0,
    TinhTrangGiaoHang BIT DEFAULT 0,
    NgayDat DATETIME DEFAULT GETDATE(),
    NgayGiao DATETIME,
    MaKH INT,
    CONSTRAINT FK_DDH_KH FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH)
);
GO

-- 2.12. Bảng CHI TIẾT ĐƠN HÀNG
CREATE TABLE CHITIETDONHANG (
    MaDonHang INT,
    MaSach INT,
    SoLuong INT,
    DonGia DECIMAL(18, 0),
    PRIMARY KEY (MaDonHang, MaSach),
    CONSTRAINT FK_CTDH_DDH FOREIGN KEY (MaDonHang) REFERENCES DONDATHANG(MaDonHang),
    CONSTRAINT FK_CTDH_SACH FOREIGN KEY (MaSach) REFERENCES SACH(MaSach)
);
GO

-- 2.13. Bảng TÀI KHOẢN (Users)
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(50) UNIQUE NOT NULL,
    Password VARCHAR(255) NOT NULL, 
    FullName NVARCHAR(100),
    Email VARCHAR(100),
    Role NVARCHAR(20) DEFAULT 'KhachHang', 
    MaNV INT NULL, 
    MaKH INT NULL,
    CONSTRAINT FK_Users_NV FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV),
    CONSTRAINT FK_Users_KH FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH)
);
GO

-- 2.14. Các Bảng LOG
CREATE TABLE LOG_NHANVIEN (
    ID INT IDENTITY PRIMARY KEY,
    MaNV INT,
    ThoiGian DATETIME DEFAULT GETDATE(),
    HanhDong NVARCHAR(100)
);
GO

CREATE TABLE LOG_HOADON (
    ID INT IDENTITY PRIMARY KEY,
    MaHD INT,
    MaNV INT,
    ThoiGian DATETIME DEFAULT GETDATE(),
    NoiDung NVARCHAR(100)
);
GO

-- =============================================
-- 3. THÊM DỮ LIỆU MẪU (INSERT DATA)
-- =============================================


select * from CHITIETHOADON
-- 1. THÊM THỂ LOẠI
INSERT INTO THELOAI (TenTL) VALUES 
(N'Tiểu thuyết'), -- ID: 1
(N'Kinh tế'), -- ID: 2
(N'Kinh dị'), -- ID: 3
(N'Thiếu nhi'); -- ID: 4
GO

-- 2. THÊM TÁC GIẢ
INSERT INTO TACGIA (TenTG, QueQuan) VALUES 
(N'Nguyễn Nhật Ánh', N'Quảng Nam'), -- ID: 1
(N'Stephen King', N'Mỹ'),        -- ID: 2
(N'Reki Kawahara', N'Nhật Bản'), -- ID: 3
(N'J.K. Rowling', N'Anh Quốc'),  -- ID: 4
(N'Tô Hoài', N'Hà Nội'),        -- ID: 5 
(N'Dale Carnegie', N'Mỹ'),       -- ID: 6 
(N'Haruki Murakami', N'Nhật Bản'); -- ID: 7 
GO

-- 3. THÊM NHÀ XUẤT BẢN 
INSERT INTO NXB (TenNXB, DiaChi, SDT) VALUES 
(N'NXB Trẻ', N'TP.HCM', '02839316289'),    -- ID: 1
(N'NXB Kim Đồng', N'Hà Nội', '02439434730'), -- ID: 2 
(N'NXB Hội Nhà Văn', N'Hà Nội', '02438222135'), -- ID: 3 
(N'NXB Hà Nội', N'Hà Nội', '02438252916'); -- ID: 3 
GO

-- 4. THÊM NHÂN VIÊN 
INSERT INTO NHANVIEN (HoTen, NgaySinh, SDT, ChucVu, MatKhau) 
VALUES (N'Trần Nhóm Trưởng', '2003-01-01', '0901000111', N'Quản lý', '123');
GO



-- 5. THÊM KHÁCH HÀNG 
INSERT INTO KHACHHANG (HoTen, SDT, DiaChi, Email, DiemTichLuy) 
VALUES (N'Phạm Khách Vip', '0912345678', N'Quận 1', 'vip@gmail.com', 500);
GO

-- 6. THÊM SÁCH 

USE QLNHASACH;
GO


INSERT INTO Users (Username, Password, FullName, Email, Role, MaNV, MaKH)
VALUES ('admin', '123456', N'Quản Lý', 'admin@gmail.com', 'NhanVien', 1, NULL);
GO

INSERT INTO Users (Username, Password, FullName, Email, Role, MaNV, MaKH)
VALUES ('Khach1', '123456', N'Khách hàng', 'khach@gmail.com', 'KhachHang', NULL, 1);
GO

INSERT INTO HOADON(MaKH, MaNV, NgayLap) VALUES
('1','1' , '04/04/2025');
GO

INSERT INTO CHITIETHOADON(MaHD, MaSach, SoLuong, DonGiaBan) VALUES
('2', '1', '3', '50000');
GO


-- =============================================
-- 4. TRIGGERS
-- =============================================

-- Tích điểm khi có hóa đơn
CREATE TRIGGER trg_TuDongTichDiem
ON HOADON
AFTER INSERT
AS
BEGIN
    UPDATE KHACHHANG SET DiemTichLuy = DiemTichLuy + 10
    FROM KHACHHANG KH JOIN INSERTED I ON KH.MaKH = I.MaKH;
END;
GO

-- PROCEDURE: Thêm sách mới (Đã thêm dấu chấm phẩy để sửa lỗi Syntax)
CREATE PROCEDURE sp_ThemSachMoi
    @TenSach NVARCHAR(200),
    @MaTL INT,
    @MaTG INT,
    @MaNXB INT,
    @NamXB INT,
    @GiaNhap DECIMAL(18,0),
    @GiaBan DECIMAL(18,0),
    @MoTa NVARCHAR(500)
AS
BEGIN
    -- Kiểm tra trùng tên sách
    IF EXISTS (SELECT 1 FROM SACH WHERE TenSach = @TenSach)
    BEGIN
        RETURN -1; -- Đã thêm chấm phẩy
    END

    -- Thêm sách mới
    INSERT INTO SACH(TenSach, MaTL, MaTG, MaNXB, NamXB, SoLuongTon, GiaNhap, GiaBan, MoTa)
    VALUES (@TenSach, @MaTL, @MaTG, @MaNXB, @NamXB, 0, @GiaNhap, @GiaBan, @MoTa); -- Đã thêm chấm phẩy
END
GO

-- FUNCTION: Tìm kiếm sách
CREATE FUNCTION fn_TimKiemSach (@TuKhoa NVARCHAR(100))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        S.MaSach, S.TenSach, 
        TL.TenTL, TG.TenTG, 
        S.SoLuongTon, S.GiaBan
    FROM SACH S
    LEFT JOIN THELOAI TL ON S.MaTL = TL.MaTL
    LEFT JOIN TACGIA TG ON S.MaTG = TG.MaTG
    WHERE S.TenSach LIKE N'%' + @TuKhoa + N'%' 
       OR TG.TenTG LIKE N'%' + @TuKhoa + N'%'
)
GO

-- TRANSACTION: Chuyển đổi và Xóa danh mục sách (An toàn dữ liệu)
CREATE PROCEDURE sp_ChuyenDoiVaXoaTheLoai
    @MaTheLoaiCu INT,      -- Thể loại muốn xóa
    @MaTheLoaiMoi INT      -- Thể loại đích để hứng sách chuyển sang
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Bước 1: Kiểm tra xem 2 thể loại này có tồn tại không
        IF NOT EXISTS (SELECT 1 FROM THELOAI WHERE MaTL = @MaTheLoaiCu)
           OR NOT EXISTS (SELECT 1 FROM THELOAI WHERE MaTL = @MaTheLoaiMoi)
        BEGIN
            -- Nếu không tồn tại thì báo lỗi và hủy luôn
            RAISERROR(N'Mã thể loại cũ hoặc mới không tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Bước 2: Chuyển toàn bộ sách từ Thể loại Cũ sang Thể loại Mới
        -- (Đây là hành động Update kho/danh mục)
        UPDATE SACH
        SET MaTL = @MaTheLoaiMoi
        WHERE MaTL = @MaTheLoaiCu;

        -- Bước 3: Sau khi sách đã được chuyển đi hết, tiến hành xóa Thể loại cũ
        DELETE FROM THELOAI
        WHERE MaTL = @MaTheLoaiCu;

        -- Nếu cả 2 bước trên đều êm xuôi, xác nhận lưu vào CSDL
        COMMIT TRANSACTION;
        PRINT N'Đã chuyển đổi sách và xóa thể loại cũ thành công!';
    END TRY
    BEGIN CATCH
        -- Nếu có bất kỳ lỗi nào xảy ra (VD: Lỗi khóa ngoại, lỗi hệ thống...)
        ROLLBACK TRANSACTION; -- Hoàn tác lại như chưa từng làm gì
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        PRINT N'Lỗi giao dịch: ' + @ErrorMessage;
    END CATCH
END;
GO

-- VIEW: Xem danh sách đầy đủ 
CREATE VIEW v_DanhSachSachFull
AS
SELECT 
    S.MaSach, S.TenSach, 
    TL.TenTL, TG.TenTG, NXB.TenNXB,
    S.SoLuongTon, S.GiaBan
FROM SACH S
LEFT JOIN THELOAI TL ON S.MaTL = TL.MaTL
LEFT JOIN TACGIA TG ON S.MaTG = TG.MaTG
LEFT JOIN NXB ON S.MaNXB = NXB.MaNXB;
GO

-- Quản lý nhập hàng, nhà cung cấp
-- FUNCTION
-- Thống kê tổng chi phí nhập hàng theo tháng
CREATE FUNCTION fn_TongTienNhapTrongThang
(
    @Thang INT,
    @Nam INT
)
RETURNS DECIMAL(18, 0)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18, 0) = 0;

    -- Tính tổng cột TongTien từ bảng PHIEUNHAP
    SELECT @TongTien = SUM(TongTien)
    FROM PHIEUNHAP
    WHERE MONTH(NgayNhap) = @Thang
      AND YEAR(NgayNhap) = @Nam
      AND TrangThai = N'Hoàn thành'; -- Chỉ tính phiếu đã chốt

    RETURN ISNULL(@TongTien, 0);
END;
GO

-- TRIGGER
CREATE TRIGGER trg_CapNhatTongTienPhieuNhap
ON CHITIETPHIEUNHAP
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cập nhật lại tổng tiền cho các phiếu nhập có thay đổi chi tiết
    -- Logic: Tổng tiền = Tổng (Số lượng * Đơn giá) của tất cả chi tiết
    IF EXISTS (SELECT 1 FROM inserted)
    BEGIN
        UPDATE PN
        SET TongTien = (SELECT ISNULL(SUM(ThanhTien), 0) FROM CHITIETPHIEUNHAP WHERE MaPN = PN.MaPN)
        FROM PHIEUNHAP PN
        JOIN inserted I ON PN.MaPN = I.MaPN;
    END

    IF EXISTS (SELECT 1 FROM deleted)
    BEGIN
        UPDATE PN
        SET TongTien = (SELECT ISNULL(SUM(ThanhTien), 0) FROM CHITIETPHIEUNHAP WHERE MaPN = PN.MaPN)
        FROM PHIEUNHAP PN
        JOIN deleted D ON PN.MaPN = D.MaPN;
    END
END;
GO

-- PROCEDURE
-- Tạo phiếu nhập mới
CREATE PROCEDURE sp_TaoPhieuNhapMoi
    @MaNXB INT,
    @MaNV INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra đầu vào
    IF NOT EXISTS (SELECT 1 FROM NXB WHERE MaNXB = @MaNXB)
    BEGIN
        PRINT N'Lỗi: Nhà xuất bản không tồn tại!';
        RETURN;
    END

    -- Insert phiếu nhập mới với trạng thái 'Đang xử lý'
    INSERT INTO PHIEUNHAP (MaNXB, MaNV, NgayNhap, TongTien, TrangThai)
    VALUES (@MaNXB, @MaNV, GETDATE(), 0, N'Đang xử lý');
    
    -- Trả về mã phiếu vừa tạo để dùng tiếp
    SELECT SCOPE_IDENTITY() AS MaPhieuVuaTao;
END;
GO

-- Cursor
-- Duyệt qua danh sách NXB để tổng hợp số liệu nhập hàng
CREATE PROCEDURE sp_BaoCaoNhapHangTheoNXB
    @Thang INT,
    @Nam INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Tạo một bảng tạm để chứa kết quả báo cáo
    DECLARE @KetQua TABLE (
        TenNXB NVARCHAR(100),
        SoDonNhap INT,
        TongTienDaChi DECIMAL(18,0),
        DanhGia NVARCHAR(100)
    );

    -- Khai báo biến
    DECLARE @MaNXB INT, @TenNXB NVARCHAR(100);
    DECLARE @SoDonNhap INT, @TongTienDaChi DECIMAL(18, 0);
    DECLARE @DanhGia NVARCHAR(100);

    -- Khai báo Cursor
    DECLARE cur_BaoCaoNXB CURSOR FOR 
    SELECT MaNXB, TenNXB FROM NXB;

    OPEN cur_BaoCaoNXB;
    FETCH NEXT FROM cur_BaoCaoNXB INTO @MaNXB, @TenNXB;

    -- Duyệt Cursor
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Tính toán
        SELECT 
            @SoDonNhap = COUNT(MaPN), 
            @TongTienDaChi = ISNULL(SUM(TongTien), 0)
        FROM PHIEUNHAP
        WHERE MaNXB = @MaNXB 
          AND MONTH(NgayNhap) = @Thang 
          AND YEAR(NgayNhap) = @Nam
          AND TrangThai = N'Hoàn thành';

        -- Đánh giá
        IF @TongTienDaChi > 50000000 SET @DanhGia = N'Đối tác VIP';
        ELSE IF @TongTienDaChi > 0 SET @DanhGia = N'Đối tác thường';
        ELSE SET @DanhGia = N'Không giao dịch';

        -- Thay vì PRINT, ta INSERT vào bảng tạm (chỉ lấy những ai có giao dịch)
        IF @SoDonNhap > 0
        BEGIN
            INSERT INTO @KetQua (TenNXB, SoDonNhap, TongTienDaChi, DanhGia)
            VALUES (@TenNXB, @SoDonNhap, @TongTienDaChi, @DanhGia);
        END

        FETCH NEXT FROM cur_BaoCaoNXB INTO @MaNXB, @TenNXB;
    END

    CLOSE cur_BaoCaoNXB;
    DEALLOCATE cur_BaoCaoNXB;

    -- Trả về kết quả cho C# đọc
    SELECT * FROM @KetQua ORDER BY TongTienDaChi DESC;
END;
GO

--TRANSACTION
--Hủy Phiếu Nhập
CREATE PROCEDURE sp_HuyPhieuNhap
    @MaPN INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Lấy trạng thái hiện tại
        DECLARE @TrangThaiHienTai NVARCHAR(50);
        SELECT @TrangThaiHienTai = TrangThai FROM PHIEUNHAP WHERE MaPN = @MaPN;

        -- 1. Nếu đã hủy rồi thì thôi
        IF @TrangThaiHienTai = N'Đã hủy'
        BEGIN
            PRINT N'Phiếu đã hủy rồi.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Nếu phiếu ĐÃ HOÀN THÀNH (Tức là đã cộng kho) -> Thì mới TRỪ KHO lại
        IF @TrangThaiHienTai = N'Hoàn thành'
        BEGIN
            -- Kiểm tra xem có đủ hàng để trừ không (tránh âm kho nếu lỡ bán rồi)
            IF EXISTS (
                SELECT 1 
                FROM SACH S
                JOIN CHITIETPHIEUNHAP CTPN ON S.MaSach = CTPN.MaSach
                WHERE CTPN.MaPN = @MaPN AND S.SoLuongTon < CTPN.SoLuong
            )
            BEGIN
                RAISERROR(N'Không thể hủy: Sách trong phiếu này đã được bán, tồn kho hiện tại không đủ để hoàn tác!', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- Thực hiện trừ kho
            UPDATE S
            SET S.SoLuongTon = S.SoLuongTon - CTPN.SoLuong
            FROM SACH S
            JOIN CHITIETPHIEUNHAP CTPN ON S.MaSach = CTPN.MaSach
            WHERE CTPN.MaPN = @MaPN;
        END

        -- 3. Cập nhật trạng thái phiếu về 'Đã hủy' và Tiền về 0
        UPDATE PHIEUNHAP
        SET TrangThai = N'Đã hủy', TongTien = 0
        WHERE MaPN = @MaPN;

        COMMIT TRANSACTION;
        PRINT N'Hủy phiếu thành công!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @Msg NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR(@Msg, 16, 1);
    END CATCH
END;
GO

--Quản lý khách hàng, khuyến mãi
-- FUNCTION 
-- TÌM KIẾM KHÁCH HÀNG
IF OBJECT_ID('fn_TimKiemKhachHang') IS NOT NULL DROP FUNCTION fn_TimKiemKhachHang;
GO
CREATE FUNCTION fn_TimKiemKhachHang (@TuKhoa NVARCHAR(100))
RETURNS TABLE
AS
RETURN
(
    SELECT MaKH, HoTen, SDT, DiaChi, DiemTichLuy, Email,
           CASE WHEN DiemTichLuy >= 500 THEN N'Vàng' ELSE N'Thành viên' END AS HangThanhVien
    FROM KHACHHANG
    WHERE HoTen LIKE N'%' + @TuKhoa + '%' OR SDT LIKE N'%' + @TuKhoa + '%'
);
GO

-- PROCEDURE XEM LỊCH SỬ MUA HÀNG
IF OBJECT_ID('sp_XemChiTietLichSuMuaHang', 'P') IS NOT NULL DROP PROCEDURE sp_XemChiTietLichSuMuaHang;
GO
CREATE PROCEDURE sp_XemChiTietLichSuMuaHang
    @MaKH INT
AS
BEGIN
    SELECT HD.MaHD, HD.NgayLap, S.TenSach, CT.SoLuong, CT.DonGiaBan, CT.ThanhTien
    FROM HOADON HD
    JOIN CHITIETHOADON CT ON HD.MaHD = CT.MaHD
    JOIN SACH S ON CT.MaSach = S.MaSach
    WHERE HD.MaKH = @MaKH
    ORDER BY HD.NgayLap DESC;
END;
GO

-- PROCEDURE THÊM KHÁCH HÀNG MỚI
IF OBJECT_ID('sp_ThemKhachHangMoi', 'P') IS NOT NULL DROP PROCEDURE sp_ThemKhachHangMoi;
GO
CREATE PROCEDURE sp_ThemKhachHangMoi
    @HoTen NVARCHAR(100),
    @SDT NVARCHAR(15),
    @DiaChi NVARCHAR(255),
    @Email NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM KHACHHANG WHERE SDT = @SDT)
    BEGIN
        SELECT 0 AS Code, N'Số điện thoại này đã tồn tại!' AS ThongBao;
    END
    ELSE
    BEGIN
        INSERT INTO KHACHHANG (HoTen, SDT, DiaChi, Email, DiemTichLuy)
        VALUES (@HoTen, @SDT, @DiaChi, @Email, 0);

        SELECT 1 AS Code, N'Thêm thành công!' AS ThongBao;
    END
END;
GO

-- TRANSACTION
-- PROCEDURE CẬP NHẬT THÔNG TIN
IF OBJECT_ID('sp_CapNhatThongTinKhach', 'P') IS NOT NULL DROP PROCEDURE sp_CapNhatThongTinKhach;
GO
CREATE PROCEDURE sp_CapNhatThongTinKhach
    @MaKH INT,
    @HoTen NVARCHAR(100),
    @DiaChi NVARCHAR(255),
    @Email NVARCHAR(100)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
            IF NOT EXISTS (SELECT 1 FROM KHACHHANG WHERE MaKH = @MaKH)
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Code, N'Khách hàng không tồn tại!' AS ThongBao;
                RETURN;
            END

            UPDATE KHACHHANG
            SET HoTen = @HoTen, DiaChi = @DiaChi, Email = @Email
            WHERE MaKH = @MaKH;

        COMMIT TRANSACTION;
        SELECT 1 AS Code, N'Cập nhật thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS Code, N'Lỗi hệ thống: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO

-- PROCEDURE ĐỔI ĐIỂM
IF OBJECT_ID('sp_DoiDiemGiamGia', 'P') IS NOT NULL DROP PROCEDURE sp_DoiDiemGiamGia;
GO
CREATE PROCEDURE sp_DoiDiemGiamGia
    @MaKH INT,
    @DiemMuonDoi INT
AS
BEGIN
    DECLARE @DiemHienCo INT;
    SELECT @DiemHienCo = DiemTichLuy FROM KHACHHANG WHERE MaKH = @MaKH;

    IF @DiemHienCo >= @DiemMuonDoi
    BEGIN
        -- Trừ điểm
        UPDATE KHACHHANG SET DiemTichLuy = DiemTichLuy - @DiemMuonDoi WHERE MaKH = @MaKH;
        
        -- Ép kiểu sang DECIMAL để tránh lỗi Invalid Cast trong C#
        DECLARE @SoTienGiam DECIMAL(18,0) = CAST(@DiemMuonDoi AS DECIMAL(18,0)) * 1000;
        
        SELECT 1 AS Code, @SoTienGiam AS SoTienGiam, N'Đổi điểm thành công' AS ThongBao;
    END
    ELSE
    BEGIN
        -- Cũng ép kiểu số 0 về Decimal cho đồng bộ
        SELECT 0 AS Code, CAST(0 AS DECIMAL(18,0)) AS SoTienGiam, N'Điểm không đủ!' AS ThongBao;
    END
END;
GO

-- PROCEDURE TÍCH ĐIỂM THỦ CÔNG
IF OBJECT_ID('sp_TichDiem', 'P') IS NOT NULL DROP PROCEDURE sp_TichDiem;
GO
CREATE PROCEDURE sp_TichDiem
    @MaKH INT,
    @DiemMuonThem INT
AS
BEGIN
    UPDATE KHACHHANG
    SET DiemTichLuy = DiemTichLuy + @DiemMuonThem
    WHERE MaKH = @MaKH;
    SELECT 1 AS Code, N'Đã cộng thưởng thành công!' AS ThongBao;
END;
GO

-- TRIGGER
-- TỰ ĐỘNG TÍCH ĐIỂM KHI CÓ HÓA ĐƠN MỚI
IF OBJECT_ID('trg_TuDongTichDiem', 'TR') IS NOT NULL DROP TRIGGER trg_TuDongTichDiem;
GO
CREATE TRIGGER trg_CongDiemKhachHang
ON HOADON
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ cộng khi hóa đơn thanh toán xong và tổng tiền > 0
    UPDATE KHACHHANG
    SET DiemTichLuy = DiemTichLuy + (i.TongTien / 10000)
    FROM KHACHHANG k
    JOIN inserted i ON k.MaKH = i.MaKH
    JOIN deleted d ON i.MaHD = d.MaHD
    WHERE i.TongTien > d.TongTien -- Chỉ cộng khi tiền tăng lên (tránh lỗi update nhầm)
END
GO

-- Quản lý bán hàng, hóa đơn
-- FUNCTION 
-- TÍNH TỔNG TIỀN HÓA ĐƠN
CREATE FUNCTION fn_TinhTongTienHoaDon (@MaHD INT)
RETURNS DECIMAL(18,0)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18,0)

    SELECT @TongTien = SUM(SoLuong * DonGiaBan)
    FROM CHITIETHOADON
    WHERE MaHD = @MaHD

    RETURN ISNULL(@TongTien, 0)
END
GO
-- TRIGGER 
-- TRỪ TỒN KHO + CẬP NHẬT TỔNG TIỀN
CREATE TRIGGER trg_SauKhiThemCTHD
ON CHITIETHOADON
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kiểm tra tồn kho
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN SACH s ON i.MaSach = s.MaSach
        WHERE i.SoLuong > s.SoLuongTon
    )
    BEGIN
        RAISERROR(N'Số lượng tồn kho không đủ!',16,1)
        ROLLBACK TRANSACTION
        RETURN
    END

    -- 2. Trừ tồn kho
    UPDATE SACH
    SET SoLuongTon = SoLuongTon - i.SoLuong
    FROM SACH s
    JOIN inserted i ON s.MaSach = i.MaSach

    -- 3. Cập nhật tổng tiền hóa đơn
    UPDATE HOADON
    SET TongTien = dbo.fn_TinhTongTienHoaDon(HOADON.MaHD)
    FROM HOADON
    JOIN inserted i ON HOADON.MaHD = i.MaHD
END
GO
-- PROCEDURE 
-- LẬP HÓA ĐƠN MỚI
CREATE PROCEDURE sp_TaoHoaDon
    @MaKH INT,
    @MaNV INT
AS
BEGIN
    INSERT INTO HOADON (MaKH, MaNV)
    VALUES (@MaKH, @MaNV)
END
GO
-- PROCEDURE + TRANSACTION 
-- THÊM CHI TIẾT HÓA ĐƠN
CREATE PROCEDURE sp_ThemChiTietHoaDon
    @MaHD INT,
    @MaSach INT,
    @SoLuong INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        DECLARE @GiaBan DECIMAL(18,0)

        SELECT @GiaBan = GiaBan
        FROM SACH
        WHERE MaSach = @MaSach

        IF @GiaBan IS NULL
            THROW 50001, N'Sách không tồn tại', 1

        INSERT INTO CHITIETHOADON (MaHD, MaSach, SoLuong, DonGiaBan)
        VALUES (@MaHD, @MaSach, @SoLuong, @GiaBan)

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW
    END CATCH
END
GO
-- CURSOR 
-- THỐNG KÊ DOANH THU HÓA ĐƠN
CREATE PROCEDURE sp_ThongKeHoaDon
AS
BEGIN
    DECLARE @MaHD INT, @TongTien DECIMAL(18,0)

    DECLARE cur_HoaDon CURSOR FOR
        SELECT MaHD, TongTien
        FROM HOADON

    OPEN cur_HoaDon
    FETCH NEXT FROM cur_HoaDon INTO @MaHD, @TongTien

    WHILE @@FETCH_STATUS = 0
    BEGIN
        PRINT N'Hóa đơn: ' + CAST(@MaHD AS NVARCHAR) 
              + N' - Tổng tiền: ' + CAST(@TongTien AS NVARCHAR)

        FETCH NEXT FROM cur_HoaDon INTO @MaHD, @TongTien
    END

    CLOSE cur_HoaDon
    DEALLOCATE cur_HoaDon
END
GO

-- Quản lý nhân viên và thống kê
-- PROCEDURE
-- Thêm Nhân Viên
CREATE PROCEDURE sp_ThemNhanVien
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @SDT NVARCHAR(15),
    @ChucVu NVARCHAR(50),
    @MatKhau NVARCHAR(50)
AS
BEGIN
    INSERT INTO NHANVIEN (HoTen, NgaySinh, SDT, ChucVu, MatKhau)
    VALUES (@HoTen, @NgaySinh, @SDT, @ChucVu, @MatKhau);
END;
GO

-- Thống kê doanh thu theo nhân viên
CREATE PROCEDURE sp_DoanhThuTheoNhanVien
AS
BEGIN
    SELECT NV.HoTen, SUM(HD.TongTien) AS DoanhThu
    FROM NHANVIEN NV
    JOIN HOADON HD ON NV.MaNV = HD.MaNV
    GROUP BY NV.HoTen;
END;
GO
-- Thống kê số sách nhập theo nhân viên kho
CREATE PROCEDURE sp_ThongKeSoSachNhap
AS
BEGIN
    SELECT NV.HoTen, SUM(CT.SoLuong) AS TongNhap
    FROM NHANVIEN NV
    JOIN PHIEUNHAP PN ON NV.MaNV = PN.MaNV
    JOIN CHITIETPHIEUNHAP CT ON PN.MaPN = CT.MaPN
    GROUP BY NV.HoTen;
END;
GO

-- Xóa nhân viên có kiểm tra (không xóa nếu có hóa đơn)
CREATE PROCEDURE sp_XoaNhanVien
    @MaNV INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM HOADON WHERE MaNV = @MaNV)
    BEGIN
        PRINT N'Không thể xóa nhân viên – có hóa đơn liên quan';
        RETURN;
    END
    DELETE FROM NHANVIEN WHERE MaNV = @MaNV;
END;
GO
-- Thống kê số lượng hóa đơn theo nhân viên
CREATE PROCEDURE sp_ThongKe_SoLuongHoaDon
AS
BEGIN
    SELECT NV.MaNV, NV.HoTen, COUNT(HD.MaHD) AS SoHoaDon
    FROM NHANVIEN NV
    LEFT JOIN HOADON HD ON NV.MaNV = HD.MaNV
    GROUP BY NV.MaNV, NV.HoTen
    ORDER BY SoHoaDon DESC;
END;
GO
-- Cập nhật thông tin nhân viên
CREATE PROCEDURE sp_NhanVien_Sua
    @MaNV INT,
    @HoTen NVARCHAR(100),
    @SDT NVARCHAR(20),
    @ChucVu NVARCHAR(50)
AS
BEGIN
    UPDATE NHANVIEN
    SET HoTen = @HoTen,
        SDT = @SDT,
        ChucVu = @ChucVu
    WHERE MaNV = @MaNV;
END;
GO


CREATE PROCEDURE sp_DoanhThuTheoNgay
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SELECT 
        CONVERT(date, NgayLap) AS Ngay,
        SUM(TongTien) AS DoanhThu
    FROM HOADON
    WHERE NgayLap BETWEEN @TuNgay AND @DenNgay
    GROUP BY CONVERT(date, NgayLap)
    ORDER BY Ngay;
END;
GO

-- FUNCTION
-- Tính số hóa đơn nhân viên đã lập
CREATE FUNCTION fn_SoHoaDon(@MaNV INT)
RETURNS INT
AS
BEGIN
    DECLARE @SL INT;

    SELECT @SL = COUNT(*)
    FROM HOADON
    WHERE MaNV = @MaNV;

    RETURN @SL;
END;
GO
-- TRIGGER
-- Ghi log khi thêm nhân viên

CREATE TRIGGER trg_ThemNhanVien_Log
ON NHANVIEN
AFTER INSERT
AS
BEGIN
    INSERT INTO LOG_NHANVIEN (MaNV, HanhDong)
    SELECT MaNV, N'Thêm nhân viên mới'
    FROM INSERTED;
END;
GO
-- Ghi log khi lập hóa đơn

CREATE TRIGGER trg_LapHoaDon_Log
ON HOADON
AFTER INSERT
AS
BEGIN
    INSERT INTO LOG_HOADON (MaHD, MaNV, NoiDung)
    SELECT MaHD, MaNV, N'Nhân viên lập hóa đơn'
    FROM INSERTED;
END;
GO

-- CURSOR
-- Duyệt từng nhân viên để tính tổng doanh thu
CREATE PROCEDURE sp_Cursor_DoanhThu
AS
BEGIN
    DECLARE @MaNV INT, @Ten NVARCHAR(100), @DoanhThu BIGINT;

    DECLARE cur CURSOR FOR
        SELECT MaNV, HoTen FROM NHANVIEN;

    OPEN cur;
    FETCH NEXT FROM cur INTO @MaNV, @Ten;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @DoanhThu = SUM(TongTien)
        FROM HOADON
        WHERE MaNV = @MaNV;

        PRINT @Ten + N' – Doanh thu: ' + ISNULL(CAST(@DoanhThu AS NVARCHAR), '0');

        FETCH NEXT FROM cur INTO @MaNV, @Ten;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
-- TRANSACTION
-- Tạo hóa đơn an toàn
CREATE PROCEDURE sp_TaoHoaDon_Transaction
    @MaKH INT,
    @MaNV INT,
    @TongTien DECIMAL(18,0)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO HOADON (MaKH, MaNV, TongTien)
        VALUES (@MaKH, @MaNV, @TongTien);

        COMMIT TRANSACTION;
        PRINT N'Tạo hóa đơn thành công';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi – giao dịch đã rollback';
    END CATCH
END;
GO

